<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrhy.resumeserver.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mrhy.resumeserver.entity.Menu">
        <id column="id" property="id" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="parent_code" property="parentCode" />
        <result column="url" property="url" />
        <result column="order" property="order" />
        <result column="type" property="type" />
        <result column="insert_time" property="insertTime" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="last_update_user" property="lastUpdateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_code, menu_name, parent_code, url, order, type, insert_time, last_update_time, last_update_user
    </sql>

</mapper>
