<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrhy.resumeserver.mapper.ResumeBasicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mrhy.resumeserver.entity.ResumeBasic">
        <id column="id" property="id" />
        <result column="resume_list_id" property="resumeListId" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="nativePlace" property="nativePlace" />
        <result column="phoneNumberPrefix" property="phoneNumberPrefix" />
        <result column="phoneNumber" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="insert_time" property="insertTime" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="last_update_user" property="lastUpdateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resume_list_id, name, sex, birthday, nativePlace, phoneNumberPrefix, phoneNumber, email, insert_time, last_update_time, last_update_user
    </sql>

</mapper>
