<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrhy.resumeserver.mapper.ResumeEducationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mrhy.resumeserver.entity.ResumeEducation">
        <id column="id" property="id" />
        <result column="resume_list_id" property="resumeListId" />
        <result column="school" property="school" />
        <result column="major" property="major" />
        <result column="qualifications" property="qualifications" />
        <result column="from" property="from" />
        <result column="to" property="to" />
        <result column="insert_time" property="insertTime" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="last_update_user" property="lastUpdateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resume_list_id, school, major, qualifications, from, to, insert_time, last_update_time, last_update_user
    </sql>

</mapper>
